prog1.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Company">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="Employee" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:integer" name="ID"/>
              <xs:element type="xs:string" name="NAME"/>
              <xs:element type="xs:integer" name="SALARY"/>
              <xs:element type="xs:string" name="EMAIL"/>
              <xs:element type="xs:integer" name="MobNum"/>
              <xs:element type="xs:string" name="Designation"/>
              <xs:element type="xs:integer" name="AGE"/>
              <xs:element type="xs:string" name="Promotion"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
    <xs:unique name="unique">
      <xs:selector xpath="Employee"/>
      <xs:field xpath="ID"/>
 </xs:unique>
</xs:element>
<xs:simpleType name="custype">
<xs:restriction base="xs:integer">
<xs:minInclusive value="50000"></xs:minInclusive>
<xs:maxInclusive value="200000"></xs:maxInclusive>
</xs:restriction>
</xs:simpleType>
<xs:simpleType name="EMAIL"> 
    <xs:restriction base="xs:string"> 
      <xs:pattern value="[^@]+@[^\.]+\..+"/> 
    </xs:restriction> 
</xs:simpleType>
<xs:simpleType name="MobNum"> 
    <xs:restriction base="xs:string"> 
      <xs:pattern value="[2-9](([0-9]{6})|([0-9]{9}))" />
    </xs:restriction> 
</xs:simpleType>
  
</xs:schema>